{% load widget_tweaks %}
{% load static %}


{% block DeleteConfrimModal %}

<div class="d-flex justify-content-center">
    <form method="post" action="/{{object.id}}/{{address}}/">
        
        {%csrf_token%}

        <h3 class="title" style="Color: #000000; font-family: 'Yekan' ; ">آیا از حذف این مورد مطمئن هستید ؟ </h3>
        <div class="d-flex justify-content-center">
        <input type="hidden" value="{{object.id}}">
        <button class='btn btn-sm btn-outline-danger mt-4'type="submit">حذف</button>
        </div>

    </form>
</div>
{% endblock DeleteConfrimModal %}

