{% extends 'MainPage.html' %}
{% load widget_tweaks %}
{% load static %}


{% block DeleteConfrimModal %}

<div class="d-flex justify-content-center spad delete-pad">
    <form method="post">

        {%csrf_token%}

        <h2 class="title">Are You Sure To Delete {{object.name}}?</h2>
        <div class="d-flex justify-content-center">
        <button class='btn btn-sm btn-outline-danger mt-4'type="submit">DELETE</button>
        {% comment %} <a href="{%url '{{object.url}}' %}">back</a> {% endcomment %}
        </div>

    </form>
</div>
{% endblock DeleteConfrimModal %}

