{% extends 'Athlete/manage_athlete.html' %}
{% load widget_tweaks %}
{% load static %}


{% block AthleteDetail %}
<!-- Class Details Section Begin -->
<section class="class-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="class-details-text">
                    <div class="">
                        <img src="img/classes/class-details/class-detailsl.jpg" alt="">
                    </div>
                    <div class="cd-trainer">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="cd-trainer-pic">
                                    <img src="{{object.user_image.url}}" alt="{{object.user_image}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cd-trainer-text">
                                    <div class="trainer-title">
                                        <h4>{{AthleteContext.username}}</h4>
                                        <span>Trainer</span>
                                    </div>
                                    <div class="trainer-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa  fa-envelope-o"></i></a>
                                    </div>
                                    <ul class="trainer-info">
                                        <li><span>Age</span><span class="span-detail">{{AthleteContext.age}}</span></li>
                                        <li><span>Weight</span><span class="span-detail">{{AthleteContext.weight}} kg</span></li>
                                        <li><span>Height</span><span class="span-detail">{{AthleteContext.height}} m</span></li>
                                        <li><span>Body Type</span><span class="span-detail">{{AthleteContext.body_type}}</span></li>
                                        <li><span>BMI</span><span class="span-detail">{{AthleteContext.bmi}}</span></li>
                                        <li><span>Body State</span><span class="span-detail">{{AthleteContext.body_state}}</span></li>
                                        <li><span>Mobile Number</span><span class="span-detail">{{AthleteContext.mobile_number}}</span></li>
                                        <li><span>Address</span><span class="span-detail">{{AthleteContext.address}}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="sidebar-option">
                    <div class="so-latest mt-5 ">
                        <div class="latest-item">
                            <div class="li-text">
                                <h6><a href="#exercise_plan">Exercise Plan</a>
                                {% if exercise_plan %}
                                    <i class="fa fa-check" id="tik-icon"></i>
                                {% else %}
                                    <i class="fa fa-times" id="x-icon"></i>
                                {% endif %}</h6>
                                <span class="li-time">{{exercise_plan.exercise_plan.end_date}}</span>
                            </div>
                        </div>
                        <div class="latest-item">
                            <div class="li-text">
                                <h6><a href="#food_plan">Food Plan</a>
                                    {% if food_plan %}
                                        <i class="fa fa-check" id="tik-icon"></i>
                                    {% else %}
                                        <i class="fa fa-times" id="x-icon"></i>
                                    {% endif %}</h6>
                                <span class="li-time">{{food_plan.food_plan.end_date}}</span>
                            </div>
                            <div class="li-pic">
                            </div>
                        </div>
                        <div class="latest-item">
                            <div class="li-text">
                                <h6><a href="#medicine_plan">Medicine Plan</a>
                                    {% if medicine_plan %}
                                        <i class="fa fa-check" id="tik-icon"></i>
                                    {% else %}
                                        <i class="fa fa-times" id="x-icon"></i>
                                    {% endif %}
                                </h6>
                                <span class="li-time">{{medicine_plan.medicine_plan.end_date}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Class Details Section End -->

<!-- Class Timetable Section Begin -->
{% if exercise_plan %}
<div class="container my-5 spad">
    <a class='btn btn-outline-success btn-lg' href='/manage_athlete/{{AthleteContext.id}}/ExportEPdf/'>Export PDF</a>
</div>
<section class="class-timetable-section class-details-timetable spad" id="exercise_plan">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive class-timetable details-timetable">
                    <table class="table table-bordered detail-table">
                        <tbody>
                            {% for day in all_day %}                             
                            <tr>
                                <td class="detail-th">{{day}}</td>
                            
                                {% for exe in exercise_plan %}
                                    {% if exe.days == day %}
                                    <td>
                                        <h5>
                                            {{exe.exercise.exercise_name}}
                                        </h5>
                                        <p>{{exe.domain}}</p>
                                    </td>
                                    {% else %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}
<!-- Class Timetable Section End -->


{% if food_plan %}
<div class="container my-5 spad">
    <a class='btn btn-outline-warning btn-lg' href='/manage_athlete/{{AthleteContext.id}}/ExportFPdf/'>Export PDF</a>
</div>
<section class="class-timetable-section class-details-timetable spad" id="exercise_plan">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive class-timetable details-timetable">
                    <table class="table table-bordered" id="detail-table">
                        <tbody>
                            {% for day in all_day %}                             
                            <tr>
                                <td class="detail-th">{{day}}</td>
                            
                                {% for fd in food_plan %}
                                    {% if fd.days == day %}
                                    <td>
                                        <h5>
                                            {{fd.foods.food_name}}
                                        </h5>
                                        <p>{{fd.count}}</p>
                                    </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if medicine_plan %}
<div class="container my-5 spad">
    <a class='btn btn-outline-secondary btn-lg' href='/manage_athlete/{{AthleteContext.id}}/ExportMPdf/'>Export PDF</a>
</div>
<section class="class-timetable-section class-details-timetable spad" id="exercise_plan">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive class-timetable details-timetable">
                    <table class="table table-bordered" id="detail-table">
                        <tbody>
                            {% for day in all_day %}                             
                            <tr>
                                <td class="detail-th">{{day}}</td>
                            
                                {% for mdicin in medicine_plan %}
                                    {% if mdicin.days == day %}
                                    <td>
                                        <h5>
                                            {{mdicin.medicine.medicine_name}}
                                        </h5>
                                        <p>{{mdicin.count}}</p>
                                    </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock AthleteDetail %}