{% extends 'Athlete/manage_athlete.html' %}
{% load widget_tweaks %}
{% load static %}

{% block AthleteList %}

<div class="d-flex justify-content-center my-5 spad">
    <a class='btn btn-outline-success btn-lg' href="{% url 'AddAthlete'%}">افزودن ورزشکار جدید</a>
</div>
<hr>
<div class="card-body">
    <div class="table-responsive">
      <div class="table-responsive class-timetable details-timetable">
        <table class="table table-hover" >
          <thead class=" text-primary">
          <tr>
            <th>
              نام
            </th>
            <th>
              سن
            </th>
            <th>
              تصویر
            </th>
            <th>
              قد
            </th>
            <th>
              وزن
            </th>
            <th>
              تیپ بدنی
            </th>
            <th>
              BMI
            </th>
            <th>
              وضعیت بدن
            </th>
            <th>
              . . . 
            </th>
          </tr>
        </thead>
        <tbody>
            {% for object in AllAthlete %}
            
            <tr>
                <td>
                    {{object.username}}
                </td>
                <td>
                    {{object.age}}
                </td>
                <td>
                    <img src="{{object.user_image.url}}" alt="{{object.user_image}}" id="food-list">
                </td>
                <td>
                    {{object.height}}
                </td>
                <td>
                    {{object.weight}}
                </td>
                <td>
                    {{object.body_type}}
                </td>
                <td>
                    {{object.bmi}}
                </td>
                <td>
                    {{object.body_state}}
                </td>
                <td>
                    <div >
                        <a class='d-inline-block border-2 mx-3' onclick="Delete('/{{object.id}}/DeleteConfirmAthlete/')" id="manage-icon">
                          <i class='fa fa-trash'></i>
                        </a>
                        <a class='d-inline-block border-2 mx-3' href="/manage_athlete/{{object.id}}/EditAthlete/" id="manage-icon">
                          <i class='fa fa-edit'></i>
                        </a>
                        <a class='d-inline-block border-2 mx-3' href="/manage_athlete/{{object.id}}/AthleteDetails/" id="manage-icon">
                            <i class='fa fa-gears'></i>
                        </a>
                    </div>
                    <br>
                    <div>
                      <a class='d-inline-block border-2 mx-3' href="/manage_exercise/{{object.pk}}/ExercisePlanItems/" id="manage-icon">
                        <i class='fa fa-calendar'></i>
                      </a>
                      <a class='d-inline-block border-2 mx-3' href="/manage_food/{{object.pk}}/FoodPlanItems/" id="manage-icon">
                        <i class='fa fa-cutlery'></i>
                      </a>
                        <a class='d-inline-block border-2 mx-3' href="/manage_medicine/{{object.pk}}/MedicinePlanItems/" id="manage-icon">
                          <i class='fa fa-heartbeat'></i>
                        </a>
                      </div>
                </td>
              </tr>

            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
    </div>
  </div>
</div>

<script>
  function Delete(url) {
    $.get(url, function (result) {
      $("#myModal").modal('show');
      $("#myModalLabel").html("حذف برنامه تمرینی");
      $("#myModalBody").html(result);
    });
  }
</script>
{% endblock AthleteList %}