{% extends 'Athlete/manage_athlete.html' %}
{% load widget_tweaks %}
{% load static %}

{% block AddAthlete %}
<div class="container spad">
    <div class="row pt-5 justify-content-center">
        <div class="col-lg-12">
            <div class="section-title chart-calculate-title text-right">
                <h2 style="color: #fff">افزودن ورزشکار جدید</h2>
                <span>اطلاعات ورزشکار را وارد نمایید</span>
            </div>
            <div class="chart-calculate-form">
                    <form method="POST" enctype='multipart/form-data' id="athlete_input_form" action="/manage_athlete/AddAthlete">

                        {%csrf_token%}

                            <div class="row">
                                <div class="form-group col-md-6 ">
                                    {% render_field form.username type="text" class="form-control choosebox" placeholder="نام کاربری"%}
                                </div>
                                <div class="form-group col-md-6 ">
                                    {% render_field form.email type="text" class="form-control choosebox" placeholder="آدرس ایمیل"%}
                                </div>        
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4 ">
                                    {% render_field form.user_image type="file" class="form-control choosebox"%}
                                </div>
                                <div class="form-group col-md-4 ">
                                    {% render_field form.age type="number" class="form-control choosebox" placeholder="سن"%}
                                </div>
                                <div class="form-group col-md-4 ">
                                    {% render_field form.mobile_number type="text" class="form-control choosebox" placeholder="شماره موبایل"%}
                                </div>      
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4 ">
                                    {% render_field form.height type="number" class="form-control choosebox" placeholder="قد با فرمت 1.23"%}
                                </div>
                                <div class="form-group col-md-4 ">
                                    {% render_field form.weight type="number" class="form-control choosebox" placeholder="وزن با فرمت 12.3"%}
                                </div>
                                <div class="form-group col-md-4 ">
                                    {% render_field form.body_type type="text" class="form-control choosebox" placeholder="تیپ بدنی"%}
                                </div>        
                            </div>

                            <div class="form-group col-md-12 ">
                                    {% render_field form.address type="text" class="form-control choosebox" placeholder="آدرس"%}
                            </div>
                            <div class="d-flex justify-content-center mb-4">
                                <div class="col-md-6">
                                <button type="submit" >ثبت مورد جدید</button>
                                </div>
                            </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock AddAthlete %}