{% extends 'Medicine/manage_medicine.html' %}
{% load widget_tweaks %}
{% load static %}

{% block MedicinePlansItemList %}
<div class="container spad">
    <div class="row pt-5 justify-content-center">
        <div class="col-lg-6">
            <div class="section-title chart-calculate-title">
                <span>For Your Plans</span>
                <h2>Medicine Plan Item Creator</h2>
            </div>
            <div class="chart-calculate-form">
                    <form method="POST" enctype='multipart/form-data' id="medicine_plan_item_input_form">

                        {%csrf_token%}
                            <div class="form-group col-md-12">
                            <strong>Medicine Plan :</strong>
                            {% render_field form.medicine_plan type="text" class="form-control choosebox"%}
                            </div>
                            <div class="form-group col-md-12">
                                <strong>Medicine Category : </strong>
                                {% render_field form.medicine_category type="text" class="form-control choosebox"%}
                            </div>
                            <div class="form-group col-md-12">
                                <strong>Medicine : </strong>
                                {% render_field form.medicine type="text" class="form-control choosebox"%}
                            </div>
                            <div class="form-group col-md-12">
                                <strong>Count : </strong>
                                {% render_field form.count type="text" class="form-control choosebox"%}
                            </div>
                            <div class="form-group col-md-12">
                                <strong>Day : </strong>
                                {% render_field form.days type="text" class="form-control choosebox"%}
                            </div>
                            <div class="form-group col-md-12">
                                <strong>Details : </strong>
                                    {% render_field form.medicine_details type="text" class="form-control choosebox"%}
                            </div>
                            <div class="d-flex justify-content-center mb-4">
                                <div class="col-md-12">
                                <button type="submit" >Save</button>
                                </div>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card-body mx-5">
    <div class="table-responsive class-timetable details-timetable">
      <table class="table table-bordered table-hover" >
        <thead class=" text-primary">
          <tr>
            <th>
                Medicine
            </th>
            <th>
                Medicine Category
            </th>
            <th>
                Count
            </th>
            <th>
                Medicine Details
            </th>
            <th>
                Day
            </th>
            <th>
                MANAGE
            </th>
          </tr>
        </thead>    
        <tbody>
            {% for object in items %}
            
            <tr>
                <td>
                    {{object.medicine}}
                </td>
                <td>
                    {{object.medicine.medicine_category}}
                </td>
                <td>
                    {{object.count}}
                </td>
                <td>
                    {{object.medicine_details}}
                </td>
                <td>
                    {{object.days}}
                </td>
                <td>
                    <div >
                        <a class='d-inline-block border-2 mx-3' href="/{{object.id}}/DeleteConfirmMedicinePlanItem/" id="manage-icon">
                          <i class='fa fa-trash'></i>
                        </a>
                        <a class='d-inline-block border-2 mx-3' href="{{object.id}}/" id="manage-icon">
                          <i class='fa fa-edit'></i>
                        </a>
                      </div>
                </td>
              </tr>

            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock MedicinePlansItemList %}