{% extends 'Medicine/manage_medicine.html' %}
{% load widget_tweaks %}
{% load static %}

{% block EditMedicinePlansItem %}
<div class="container spad">
    <div class="row pt-5 justify-content-center">
        <div class="col-lg-6">
            <div class="section-title chart-calculate-title">
                <span>For Your Plans</span>
                <h2>Medicine Plan Item Editor</h2>
            </div>
            <div class="chart-calculate-form">
                    <form method="POST" enctype='multipart/form-data' id="medicine_plan_item_input_form">

                        {%csrf_token%}
                        <div class="form-group col-md-12" id="medicine_plan">
                            <label for="medicine_plan">Medicine Plan :</label>
                            {% render_field form.medicine_plan type="text" class="form-control choosebox" id="medicine_plan"%}
                            </div>
                            <div class="form-group col-md-12">
                                <label for="medicine_category">Medicine Category : </label>
                                {% render_field form.medicine_category type="text" class="form-control choosebox" id="medicine_category"%}
                            </div>
                            <div class="form-group col-md-12">
                                <label for="medicine">Medicine : </label>
                                {% render_field form.medicine type="text" class="form-control choosebox" id="mediciney"%}
                            </div>
                            <div class="form-group col-md-12">
                                <label for="count">Count : </label>
                                {% render_field form.count type="text" class="form-control choosebox" id="count"%}
                            </div>
                            <div class="form-group col-md-12">
                                <label for="day">Day : </label>
                                {% render_field form.days type="text" class="form-control choosebox" id="day"%}
                            </div>
                            <div class="form-group col-md-12">
                                <label for="detail">Details : </label>
                                    {% render_field form.medicine_details type="text" class="form-control choosebox" id="detail"%}
                            </div>
                            <div class="d-flex justify-content-center mb-4">
                                <div class="col-md-12">
                                <button type="submit" >Save</button>
                                </div>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock EditMedicinePlansItem %}