{% extends 'MainPage.html' %}
{% load widget_tweaks %}
{% load static %}

{% block AddFoodPlan %}
<div class="container spad">
    <div class="row pt-5 justify-content-center">
        <div class="col-lg-6">
            <div class="section-title chart-calculate-title">
                <span>For Your Plans</span>
                <h2>Food Plan Creator</h2>
            </div>
            <div class="chart-calculate-form">
                    <form method="POST" enctype='multipart/form-data' id="food_plan_input_form">

                        {%csrf_token%}

                            <div class="form-group col-md-12">
                                {% render_field form.athlete type="text" class="form-control choosebox" placeholder="For"%}
                            </div>
                            <div class="form-group col-md-12">
                                {% render_field form.end_date type="Date" class="form-control choosebox" placeholder="End Date"%}
                            </div>
                            <div class="form-group col-md-12">
                                    {% render_field form.status type="text" class="form-control choosebox" placeholder="Status"%}
                            </div>
                            <div class="d-flex justify-content-center mb-4">
                                <div class="col-md-6">
                                <a href="{% url 'FoodPlanList' %}" onclick="submit_form()" id="submit-a">Save</a>
                                </div>
                                <div class="col-md-6">
                                <button type="submit" >Save & Add Another</button>
                                </div>
                            </div>
                    </form>
            </div>
        </div>
    </div>
</div>

<script>
    function submit_form(){
        document.getElementById('food_plan_input_form').submit();
    }
</script>
{% endblock AddFoodPlan %}
